$font-size-ul:20px;
$font-size-title:50px;
$ul-color:#000000;
$spacing:15px;
$nav-bg-color:#ff0000;
$font-light:100;
$font-bold:500;
$itm-color:#eee;
$bg:linear-gradient(to right, #00416a, #799f0c, #ffe000);
$box-bg:linear-gradient(to right, #b92b27, #1565c0);